*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.281);
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

img {
    width: 300px;
}

header {
    background-color: rgba(9, 9, 170, 0.637);
    padding: 10px 0;
    color: white;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}

header div li a {
    color: white;
    font-weight: bold;
}

#parte_inicial {
    display: flex;
    padding-top: 25px;
}

#parte_inicial .sobre_loja {
    padding: 15px;
    color: #333333 ;
}

#parte_inicial .sobre_loja h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

#parte_inicial .sobre_loja p {
    padding-top: 20px;
    
}

#produtos {
    padding-top: 60px;
    color: #333333;
}

#produtos h2 {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

#produtos #coluna_de_produtos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 40px;
}

#produtos #coluna_de_produtos img{
    width: 80%;
}

#produtos #coluna_de_produtos button{
    width: 80%;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 8px;
    cursor: pointer;
    
}


@media screen and (max-width: 768px) {
    header div {
        display: block;
        text-align: center;
    }

    header ul {
        padding-top: 15px;
        padding-bottom: 8px;
    }

    header ul li a {
        color: rgba(255, 255, 255, 0.521);
    }

    #parte_inicial {
        display: block;
    }

    #parte_inicial picture img {
        padding-left: 15%;
    }

    #parte_inicial .sobre_loja {
        width: 90%;
    }

    #parte_inicial .sobre_loja h2 {
        display: flex;
        justify-content: center;
    }

    #produtos div {
        display: flex;
        justify-content: center;
    }

    #produtos div h2 {
        border-bottom: none;
    }

    #produtos #coluna_de_produtos{
        display: block;
        padding-bottom: 40px;
        text-align: center;
    }

    #produtos #coluna_de_produtos img {
        border-top: 2px solid rgba(0, 0, 0, 0.486);
    }

    #produtos #coluna_de_produtos article {
        padding-top: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    header {
        padding: 25px 0;
    }

    #parte_inicial {
        display: block;
    }

    #parte_inicial picture {
        display: flex;
        justify-content: center;
    }

    #parte_inicial picture img {
        width: 79%;
    }

    #parte_inicial .sobre_loja {
        padding-top: 40px;
    }

    #produtos #coluna_de_produtos{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-bottom: 40px;
    }
}